log_fenicsx.txt
.cache/
*.log
*.png
*.xdmf
*.msh
*.h5
*.csv
*.nii
*.pyc
*.npy
*.txt
FEM/bridge/__pycache__/export_data.cpython-310.pyc
FEM/bridge/__pycache__/run_fenicsx.cpython-312.pyc
FEM/fenicsx/src/RT/dp1/__pycache__/collimated_fem.cpython-310.pyc
FEM/fenicsx/src/RT/dp1/__pycache__/collimated.cpython-310.pyc
FEM/fenicsx/src/RT/dp1/__pycache__/dp1.cpython-310.pyc
FEM/fenicsx/src/solvers/__pycache__/bioheat_wave.cpython-310.pyc
runs/caso_articulo_2/__pycache__/fenicsx_args.cpython-312.pyc
runs/caso_articulo_2/mcx/caso.mcxp
runs/caso_articulo_2/mcx/geo.json
runs/caso_articulo_2/mcx/__pycache__/MC_interp.cpython-310.pyc
runs/caso_articulo_2/mcx/base/caso_Gnyawali.nii
runs/caso_general/__pycache__/fenicsx_args.cpython-312.pyc
runs/caso_ivan/__pycache__/fenicsx_args.cpython-312.pyc
runs/caso_OFAI/__pycache__/fenicsx_args.cpython-312.pyc
runs/validacion_hiperbolico/__pycache__/fenicsx_args.cpython-312.pyc
runs/caso_OFAI/fenicsx/results/animation/anim.avi
runs/caso_ivan/log_fenicsx.txt
runs/caso_ivan/log_fenicsx.txt
runs/caso_laboratorio/log_fenicsx.txt
runs/caso_ivan/caso0.npy
runs/caso_ivan/caso0.npy
runs/caso_ivan/log_fenicsx.txt
runs/caso_laboratorio/log_fenicsx.txt
runs/caso_laboratorio/T_prom.npy
runs/caso_lopes_dp1/mcx/caso.mcxp
runs/validacion_dpl/fenicsx/results/animation/anim.avi
runs/validacion_hiperbolico/log_fenicsx.txt
runs/validacion_hiperbolico/log_mesh_convert.txt
runs/validacion_hiperbolico/T_prom.npy
runs/validacion_soni/log_fenicsx.txt
runs/validacion_soni/fenicsx/results/T.xdmf
runs/caso_ivan/caso0.npy
runs/caso_ivan/log_fenicsx.txt
runs/caso_laboratorio/log_fenicsx.txt
runs/caso_laboratorio/T_prom.npy
*.npy
*.txt
runs/caso_ivan/caso0.npy
runs/caso_ivan/log_fenicsx.txt
runs/caso_laboratorio/log_fenicsx.txt
runs/caso_laboratorio/T_prom.npy
runs/caso_lopes_dp1/fenicsx/parameters.json
runs/caso_lopes_dp1/mcx/mcx.json
runs/caso_lopes_dp1/postprocessing/error_concentrations.json
runs/caso_lopes_DPL/fenicsx/parameters.json
runs/caso_lopes_DPL/postprocessing/error_concentrations.json
runs/caso_soni_dp1_fem/error_ext_300.json
runs/caso_soni_dp1_fem/error.json
runs/caso_soni_dp1_fem/fenicsx/parameters.json
runs/validacion_dpl/fenicsx/parameters.json
runs/validacion_hiperbolico/log_fenicsx.txt
runs/validacion_hiperbolico/log_mesh_convert.txt
runs/validacion_hiperbolico/T_prom.npy
runs/validacion_soni/log_fenicsx.txt
runs/validacion_soni/fenicsx/results/T.xdmf
